{% extends "base.html" %}

{% block title %}Установка{% endblock %}

{% block add_styles %}
    <link rel="stylesheet" href="/static/css/install.css"> 
{% endblock %}

{% block content %}
    <h1>Install Page</h1>
    <form id="install-form" method="post" action="/install">
        <div class="section">
            <div class="form-group">
                <label for="steam_api_key">Steam API Key:</label>
                <input type="text" id="steam_api_key" name="steam_api_key" required>
            </div>

            <div class="form-group">
                <label for="steam_64_general_admin">Steam URL (Admin):</label>
                <input type="text" id="steam_64_general_admin" name="steam_url" required>
            </div>
        </div>

        <div class="section">
            <div class="form-group">
                <label for="db_host">Host:</label>
                <input type="text" id="db_host" name="db_host" required>
            </div>

            <div class="form-group">
                <label for="db_user">User:</label>
                <input type="text" id="db_user" name="db_user" required>
            </div>

            <div class="form-group">
                <label for="db_password">Password:</label>
                <input type="password" id="db_password" name="db_password" required>
            </div>

            <div class="form-group">
                <label for="db_name">Database:</label>
                <input type="text" id="db_name" name="db_name" required>
            </div>

            <div class="form-group">
                <label for="db_port">Port:</label>
                <input type="text" id="db_port" name="db_port" value="3306" required>
            </div>

            <div class="form-group">
                <label for="db_prefix">Table Prefix:</label>
                <input type="text" id="db_prefix" name="db_prefix" value="ps_">
            </div>
        </div>

        <div class="button-group">
            <button type="button" id="check-button">Проверить</button>
            <button type="submit">Установить</button>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src="/static/js/toasts.js"></script> 
    <script src="/static/js/install.js"></script> 
{% endblock %}
